@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/utilities';

$utilities: (
    "color": (
        property: color,
        class: akibcolor,
        values: (
            red: red,
            green: green,
            orange: orange
        ) 
    )
);
@import '../node_modules/bootstrap/scss/bootstrap.scss';